@import url('https://fonts.googleapis.com/css2?family=Ubuntu');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    overflow: hidden;
    margin: 0;
}

.img {
    position: absolute;
    width: 100vw;
    z-index: -1;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    filter: blur(0px);
}

.loading-text {
    position: absolute;
    font-size: 50px;
    color: #000;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}